<div class="landing-page-container">
  <div class="image-container">
    <img src="/assets/logo.png" class="image-style" alt="image" />
  </div>
  <div class="text-container">
    <h1>🚀 Bienvenue sur MI-Sera</h1>
    <h2>
      Prenez une longueur d’avance sur vos investissements. Analysez, simulez et
      prédisez avec une plateforme intelligente conçue pour révéler tout le
      potentiel de vos projets.
    </h2>
    <div>
      <button mat-flat-button class="primary-btn" (click)="goToTry()">
        Commencer
      </button>
      <button mat-stroked-button class="secondary-btn" (click)="openModal()">
        <mat-icon>home</mat-icon>
        En savoir plus
      </button>
    </div>
  </div>
</div>
