// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-card {
  border-radius: 16px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
}

.error-snack {
  background: #ff6b6b !important;
  color: white !important;
}
